:root {
  font: 16px / 1 sans-serif;
}

html {
  height: 100%;
}

body {
  margin: 0;
  min-height: 100%;
  background-color: slategrey;
}

img .profile-image.resize {
  width: 25%;
  height: auto;
}
